<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>
                    Rutinas
                </h3>
            </div>
            <div class="col-12 col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/admin/dashboard">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Rutinas
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header pb-0">

                    <div class="row">
                        <div class="col-10">
                            <!--
                                <h5>
                                    Mis workspaces
                                </h5>
                            -->
                            
                            <span>
                                Aqui puede visualizar los Rutinas que estan registrados en el sistema
                            </span>
                        </div>
                        <div class="col-2 text-right">
                            <a class="btn btn-primary" routerLink="/admin/routines/add">
                                <i class="icon-plus"></i> &nbsp; Crear nuevo
                            </a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr class="table-active">
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Total Ejercicios</th>
                                    <th>Fecha de Registro</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rows; let i = index" >
                                    <th>
                                        {{item.name}}
                                    </th>
                                    <td>
                                        {{item.description}}
                                    </td>
                                    <td>
                                        {{item.exercises.length}}
                                    </td>
                                    <td>
                                        {{item.created | dateTime}}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-light" routerLink="/admin/routines/{{item._id}}/edit">
                                                <i class="icon-pencil"></i> &nbsp; Editar
                                            </a>
                                            <!--
                                            <button class="btn btn-secondary" type="button" (click)="remove(i)">
                                                <i class="icon-trash"></i> &nbsp; Eliminar
                                            </button>
                                            -->
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>