
<div class="card">
    <div class="card-header pb-0">

        <div class="row">
            <div class="col-10">
                
                <h5>
                    Mensualidades
                </h5>
                
                <span>
                    Aqui puede visualizar los mensualidades que estan registrados en el sistema
                </span>
            </div>
            <div class="col-2 text-right">
                <!--
                <a class="btn btn-primary" routerLink="/admin/attends/add">
                    <i class="icon-plus"></i> &nbsp; Registrar Ingreso
                </a>
                -->
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="table-active">
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Expiracion</th>
                        <th>Fecha de Registro</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let row of rows">
                        <tr >
                            <td>
                                {{row.start_date | dateCalendar}}
                            </td>
                            
                            <td>
                                {{row.expiration_date | dateCalendar}}
                            </td>
                            
                            <td>
                                {{row.created | dateTime}}
                            </td>
                            
                        </tr>
                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>